html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, img, button {
  cursor: pointer;
}


/* --------------------------------------------------------------- */

/* phần chung */

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.main {
	background:
    radial-gradient(#3a86ff 3px, transparent 4px),
    radial-gradient(#ff006e 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

header, main, footer {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.full-screen-box {
  width: 100% !important;
  height: 100% !important;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.normal-box {
  width: 50%;
  height: auto;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide-screen {
  height: 100%;
  width: 100%;
  background-color: rgba(173, 181, 189, .75);
  position: fixed;
  z-index: 10;
}

/* **************** */


/* bắt đầu phần cart */
.cart-section {
  background: rgb(255,50,125);
  background: linear-gradient(45deg, rgb(255, 207, 225) 0%, rgba(255,255,255,1) 50%, rgb(209, 220, 255) 100%);
  padding: 1rem 2rem;
  z-index: 11;
  box-sizing: border-box;
  overflow: auto;
}
.cart-section-title {
  box-sizing: border-box;
  width: 80%;
	margin: .5rem auto;
  padding: .5rem;
  font-family: "Agbalumo", sans-serif;
  color: #05192D;
  text-align: center;
}
.cart-section-title > h1 {
  line-height: 1.5;
  font-size: 1.35rem;
}
.cart-section-title > h2 {
  line-height: 1.15;
  font-size: 1.2rem;
}
.cart-ctn {
  box-sizing: border-box;
  width: 80%;
	margin: 1rem auto;
  padding: .5rem;
}
.cart-ctn > p {
  font-size: .9rem;
  font-style: italic;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
}
.cart-title {
  box-sizing: border-box;
  width: 80%;
	margin: .5rem auto;
  padding: .5rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #05192D;
  text-align: center;
}
.cart-table {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
  color: #2f3e46;
}
.cart-thead {
  box-sizing: border-box;
  display: table-header-group;
  border-bottom: 1.5px solid rebeccapurple;
  background-color: #ecc49c;
}
.cart-tbody {
  box-sizing: border-box;
  display: table-row-group;
  background-color: #fefae0;
}
.cart-tfoot {
  box-sizing: border-box;
  display: table-footer-group;
  border-top: 1.5px solid rebeccapurple;
  background-color: #f7e3b4;
}
.cart-tr {
  display: table-row;
	border-bottom: .5px solid rgba(102, 51, 153, .3)
}
.cart-td {
	font-size: .825rem;
}
.cart-th,
.cart-td {
  box-sizing: border-box;
  display: table-cell;
  padding: .5rem;
	text-align: center;
  vertical-align: middle;
}
.cart-th {
  font-weight: bold;
  font-size: .9rem;
}
.cart-td:nth-of-type(5n+2) {
	width: 17%;
}
.cart-td:nth-of-type(5n+3) {
	width: 11%;
}
.cart-td:nth-of-type(5n+4) {
	width: 17%;
}
.cart-td:nth-of-type(5n) {
	width: 5%;
}
.cart-product {
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.cart-product-image {
	box-sizing: border-box;
	width: 20%;
	height: 100%;
}
.cart-product-image > img {
	box-sizing: border-box;
	display: block;
  width: 50%;;
  height: 50%;
  max-height: 60%;
}
.cart-product-name {
  box-sizing: border-box;
	width: 80%;
  font-weight: bold;
	font-size: .825rem;
  line-height: 1.2;
}
.cart-quantity {
  box-sizing: border-box;
}
.cart-quantity input[type="number"] {
  box-sizing: border-box;
  border-radius: .2rem;
  background-color: #fbfbfb;
  border: none;
  text-align: center;
}
.cart-delete-item {
	box-sizing: border-box;
	transform: scale(1.25);
  cursor: pointer;
  color: red;
}
.cart-options {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.cart-options > button {
  border-radius: .5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  height: 2rem;
  outline: none;
  border: 1px solid black;
}
.delete-all-items {
  box-sizing: border-box;
  width: 30%;
  font-weight: 500;
}
.delete-all-items:hover {
  background-color: #fbfbfb;
}
.place-an-order {
  box-sizing: border-box;
  width: 66%;
  font-weight: 700;
  background-color: #03ef62;
  box-shadow: 0px 10px 20px rgba(2, 237, 96, .5);
}
.place-an-order:hover {
  background-color: #65ff8f;
}
.oh-title {
  box-sizing: border-box;
  width: 80%;
	margin: .5rem auto;
  padding: .5rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #05192D;
  text-align: center;
}
.oh-ctn {
  box-sizing: border-box;
  width: 80%;
	margin: 1rem auto;
  padding: .5rem;
}
.oh-table {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
  color: #432818;
}
.oh-thead {
  box-sizing: border-box;
  display: table-header-group;
  border-bottom: 1.5px solid rebeccapurple;
  background-color: #ccd5ae;
}
.oh-tbody {
  box-sizing: border-box;
  display: table-row-group;
  background-color: #fefae0;
}
.oh-tr {
  display: table-row;
	border-bottom: .5px solid rgba(102, 51, 153, .3)
}
.oh-td, .oh-th {
  box-sizing: border-box;
  display: table-cell;
  padding: .5rem;
	text-align: center;
  vertical-align: middle;
  font-size: .825rem;
}
.oh-th {
  font-weight: bold;
  font-size: .9rem;
}
.oh-td:nth-of-type(4n+1), .oh-th:nth-of-type(4n+1) {
  width: 50%;
}
.oh-td:nth-of-type(4n+2), .oh-th:nth-of-type(4n+2) {
  width: 18%;
}
.oh-td:nth-of-type(4n+3), .oh-th:nth-of-type(4n+3) {
  width: 16%;
}
.oh-td:nth-of-type(4n), .oh-th:nth-of-type(4n) {
  width: 16%;
}
/* kết thúc phần cart */

/* bắt đầu phần signin */
.signin-section {
  box-sizing: border-box;
  background-color: #f1faee;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
  z-index: 11;
  max-height: 35rem;
  overflow-x: auto;
}
.signin-header {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem 0 1.5rem;
  margin-bottom: .5rem;
  position: relative;
  color: #023047;
  border-bottom: thick double rgba(168, 177, 165, .5);
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
}
.signin-header h1 {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.signin-close-button {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: .9;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  transform: rotate(45deg);
  color: #e63946;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.signin-close-button:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}
.signin-main {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(168, 177, 165, .5);
}
.show-errors {
  box-sizing: border-box;
  display: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem;
  padding: .5rem 0;
}
.show-errors > li {
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
  font-size: .8rem;
  font-weight: 500;
  color: #f04;
  line-height: 1.25;
}
.error-icon {
  position: relative;
  top: 1px;
  color: #f04;
  height: 10px;
  width: 10px;
  margin: 0 .5rem 0 1rem;
  font-weight: 700;
  transform: scale(1.5);
}
.signin-main form {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.signin-main label, .signin-main input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.signin-main label {
  margin: .5rem 0;
  font-size: .9rem;
  font-weight: 500;
}
.signin-main input {
  margin: .5rem 0 1rem;
  padding: .4rem .8rem;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #e5e1da;
  border-radius: 4px;
  color: #05192d;
  line-height: 1.5;
  outline: none;
}
.signin-main input::placeholder {
  color:#b0b0b0;
  font-style: italic;
  letter-spacing: .5px;
}
.signin-main input:focus {
  border: 2px solid rgba(2, 237, 96, .5);
  color: #023047;
  background-color: #f8fdf5;
}
.signin-main .signin-btn {
  box-sizing:border-box;
  margin: 1.5rem 0 1rem;
  padding: .5rem 0;

  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  
  border: none;
  outline: 1px solid #03ef62;
  border-radius: .5rem;
  background-color: #03ef62;
}
.signin-main .signin-btn:hover {
  background-color: #65ff8f;
}
.signin-footer {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
}
.signin-footer > button {
  box-sizing:border-box;
  height: 2.2rem;
  width: 80%;
  margin: .5rem 10%;

  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  
  border: none;
  border-radius: .5rem;
  background-color: #03ef62;
}
.signin-footer > button:hover {
  background-color: #65ff8f;
}
.signin-footer > p {
  width: 80%;
  display: inline-block;
  margin: .3rem 10% 0;
  color: #007bb6;
  font-size: .9rem;
  cursor: pointer;
}
.signin-footer > p:hover {
  color: #06f;
  text-decoration: underline;
}
/* kết thúc phần signin */

/* bắt đầu phần slideshow */
.slideshow {
  width: 100%;
  height: auto;
  aspect-ratio: 3/1;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}
.slideshow-img {
  display: block;
  height: auto;
  max-width: 100%;
  cursor: auto;
}
/* kết thúc phần slideshow */

/* bắt đầu search and filter */
.search-and-filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  z-index: 1;
}
.saf-area {
  width: 100%;
  height: 8rem;
  padding: .5rem 5%;
  border-bottom: 3px solid #2b0f42;

  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
  background-color: #ffd15d;
  }
.filter {
  box-sizing: border-box;
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15%;
}
.filter-category {
  box-sizing: border-box;
  height: 80%;
  width: auto;
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-right: auto;
  padding: 0 0 0 1rem;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  background-color: #caf0f8;
}
.filter-price {
  box-sizing: border-box;
  height: 80%;
  width: 25%;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  caret-color: #06f;
  background-color: rgba(255,255,255, .75);
}
.filter-price::placeholder {
  color:#b0b0b0;
}
.filter-price:focus {
  outline: 1px solid rgba(168, 203, 255, 1);
  color: #06f;
  background-color: #ffe5ec;
}
.saf-products {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding: 2% 10%;
  background-color: #85FFBD;
  background-image: linear-gradient(-45deg, #c7ffe1 0%, #fffdc7 100%);
}
/* kết thúc search-and-filter */

/* bắt đầu more-details*/  
.details {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  aspect-ratio: 2/1;
  border: 1px solid #888;
  border-radius: .5rem;
  padding: 1rem;
  background: rgb(237,237,233);
  background: linear-gradient(90deg, rgba(237,237,233,0.9) 0%, rgba(245,235,224,0.98) 70%, rgba(227,213,202,0.95) 100%);
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.6);
  z-index: 11;
}
.first-details-container {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.fdc-img-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
}
.fdc-img-container > img {
  display: block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 3%;
}
.close-btn {
  height: 15%;
  width: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: .7rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: white;
  background-color: #e16d00;
  border: none;
  border-radius: .6rem;
}
.close-btn:hover {
  background-color: #ff8b1e;
}
.second-details-container {
  width: 65%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.details-big-text {
  margin: 0 .5rem .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.details-normal-text {
  font-size: 1rem;
  font-weight: 500;
  margin: .2rem .5rem;
}
/* kết thúc more-details*/

/* bắt đầu phần best-seller */
.best-seller {
  height: auto;
  width: 70%;
  margin: 30px auto;
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.title {
  padding: 5px 18px;
  margin: 2rem 2rem 1rem;
  font-size: 2rem;
  font-family: 'Agbalumo', sans-serif;
  color: #0066ff;
  background-color: white;
}
.products {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
}
.product {
  width: 23%;
  height: 28rem;
  padding: 1rem .5rem;
  margin: .6rem 1%;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);

  background: rgb(255,50,125);
  background: linear-gradient(0deg, rgba(255,50,125,0.5) 0%, rgba(255,255,255,0.3) 50%, rgba(40,90,255,0.5) 100%);

  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-image {
  width: 100%;
  height: 45%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.product-image > img {
  display: block;
  width: auto;
  height: auto;
  max-height: 100%;
  border-radius: 3%;
}
.product-image > img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.book-title {
  margin: 8px;
  font-size: .9rem;
  font-weight: 700;
  font-family: 'IBM Plex Sans', sans-serif;
}
.author {
  font-size: .7rem;
  font-weight: 400;
  margin: 0 8px;
}
.price {
  margin: 8px;
  font-family: 'Roboto Mono', sans-serif;
}
.old-price {
  margin-bottom: 5px;
  color: red;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: line-through;
}
.new-price {
  font-size: .85rem;
  font-weight: 700;
}
.add-to-cart {
  width: 90%;
  margin: auto auto 0;
  padding: 5px 0;
  background-color: #ff1c58;
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  font-size: .675rem;
  font-family: IBM Plex Sans;
  letter-spacing: .2px;
  font-weight: 700;
  line-height: 2;
  cursor: pointer;
  transition: ease-out .5s;
  /* box-shadow: inset 0 0 0 0 #ff1c58; */
}
.add-to-cart:hover {
  color: #432818;
  box-shadow: inset -200px -50px 0 0 #f1faee;
}
.cart-icon {
  position: relative;
  top: 2.5px;
  height: 16px;
  width: 16px;
}
/* kết thúc phần best-seller */
/* bắt đầu phần phân trang */
.pagination {
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
  border-radius: 20%;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(153,194,255,0.4) 20%, rgba(0,102,255,0.8) 50%, rgba(153,194,255,0.4) 80%, rgba(255,255,255,0) 100%);
  box-sizing: border-box;
  display:  flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.well-known > .pagination {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,80,126,0.4) 20%, rgba(255,28,88,0.8) 50%, rgba(255,80,126,0.4) 80%, rgba(255,255,255,0) 100%);
}
.paginating-link {
  transition: all .3s ease-in-out;
  height: 100%;
  width: 5%;
  text-align: center;
  line-height: 2;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  box-sizing: border-box;
  border-left: 2px solid white; 
}
.paginating-link:last-of-type {
  border-right: 2px solid white;
}
.paginating-link:hover {
  background: rgb(255,28,88);
  background: radial-gradient(circle, rgba(255,28,88,1) 0%, rgba(255,255,255,1) 100%);
  color: black;
}
.well-known .paginating-link:hover {
  background: rgb(0,102,255);
  background: radial-gradient(circle, rgba(0,102,255,1) 0%, rgba(255,255,255,1) 100%);
}
.current-page {
  font-weight: 800;
  color: black;
  text-decoration: underline;
  text-decoration-color: #2b0f42;
}
/* kết thúc phần phân trang */

/* bắt đầu phần well-known */
.well-known {
  height: auto;
  width: 70%;
  margin: 30px auto;
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.well-known .title {
  color: #ff1c58;
}
.well-known .product {
  background: #285aff;
  background: linear-gradient(0deg, rgba(40,90,255,0.5) 0%, rgba(255,255,255,0.3) 50%, rgba(255,50,125,0.5) 100%);
}
.well-known .add-to-cart {
  background-color: #0066ff;
}

/* kết thúc phần well-known */


/* bắt đầu phần header */
.header {
  height: auto;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.pre-header {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 50px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,236,255,1) 55%, rgba(204,224,255,1) 60%, rgba(183,212,255,1) 65%, rgba(163,200,255,1) 70%, rgba(135,183,255,1) 75%, rgba(110,168,255,1) 80%, rgba(79,150,255,1) 85%, rgba(51,133,255,1) 90%, rgba(23,116,255,1) 95%, rgba(0,102,255,1) 100%);
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: left;
}
.pre-header > p {
  margin: 5px auto;
  line-height: 1.35;
}
.heart-icon-before {
  color: #ff1c58;
}
.pre-header a {
  color: #ff327d;
  text-underline-offset: .2rem;
  transition: color .5s ease-in-out;
}
.pre-header a:hover {
  color: #0066ff;
}
.main-header {
  padding: 0 3rem;
  background: rgb(255,50,125);
  background: linear-gradient(90deg, rgba(255,50,125,1) 0%, rgba(255,63,133,1) 5%, rgba(255,87,148,1) 10%, rgba(255,121,169,1) 15%, rgba(255,141,182,1) 20%, rgba(255,167,199,1) 25%, rgba(255,196,217,1) 30%, rgba(255,216,230,1) 35%, rgba(255,237,243,1) 40%, rgba(255,239,244,1) 45%, rgba(255,255,255,1) 100%);
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  margin-left: 1rem;
}
.logo-header > a {
  height: 60px;
  padding: 0;
  margin: 0;
  font-size: .95rem;
  font-weight: 500;
  font-family: 'Agbalumo', sans-serif;
  text-decoration: none;
  color: white;
}
.slogan {
  margin-top: .3rem;
  font-size: .7rem;
  font-weight: 300;
}
.search-header {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.search-box {
  box-sizing: border-box;
  height: 45%;
  width: 100%;
  padding: 0 15%;
  margin: 0 auto .5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.search-box > input, .search-box > button {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  padding: 0 10px;
  margin: 0;
  outline: none;
  border: none;
  background-color: white;
  color: black;
}
.search-box > button {
  width: 20%;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(153,194,255,1) 0%, rgba(0,102,255,1) 100%);
  color: white;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0 20px 20px 0;
}
.search-box > button:hover, .signin:hover {
  color: black;
  background: rgb(255,50,125);
  background: linear-gradient(270deg, rgba(255,50,125,1) 0%, rgba(255,75,141,1) 12%, rgba(255,95,154,1) 22%, rgba(255,109,163,1) 29%, rgba(255,125,173,1) 37%, rgba(255,144,185,1) 46%, rgba(255,165,198,1) 56%, rgba(255,181,208,1) 64%, rgba(255,197,218,1) 72%, rgba(255,212,227,1) 79%, rgba(255,228,238,1) 87%, rgba(255,255,255,1) 100%);
}
.search-box > input {
  box-sizing: border-box;
  width: 80%;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  caret-color: #ff1c58;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 20px 0 0 20px;
  padding: 0 1.5rem;
  text-align: center;
}
.search-box > input::placeholder {
  color:#b0b0b0;
}
.search-box > input:focus {
  outline: 2px solid rgba(255, 189, 207, .5);
  color: #ff1c58;
  background-color: #edf6f9;
}
.header-nav-area {
  height: 40px;
  width: auto;
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.signin {
  height: 32px;
  margin-right: .5rem;
  padding: 0 20px;
  border-radius: 15px;
  font-size: .8rem;
  font-weight: 600;
  line-height: 2.5;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #0066ff;
  cursor: pointer;
}
.navigation {
  position: relative;
  top: 1px;
  color: #0066ff;
  height: 16px;
  width: 16px;
  margin: 0 .25rem;
  margin-left: 1rem;
  font-weight: 700;
  transform: scale(1.5);
  cursor: pointer;
}
.navigation:hover {
  color:#ff327d;
}
.navigation, .signin, .search-box > button {
  transition: all .5s ease-in-out;
}
.needsclick {
  box-sizing: border-box;
  height: 1rem;
  width: 1rem;
  position: fixed;
  bottom: 2.5rem;
  left: 2rem;
  z-index: 1;
}
.gift-icon {
  box-sizing: border-box;
  transform: scale(3.5);
  color: #f04;
  border-radius: 2rem;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: all .5s;
}
.gift-icon:hover {
  color: #06f;
}
.gift-clicked {
  z-index: 100;
  background-color: #ffe6dd;
  padding: 1rem 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
}
.gift-clicked > p {
  width: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
  text-align: center;
  font-weight: 600;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.1rem;
  line-height: 1.25;
}
.gift-clicked > input {
  width: 100%;
  box-sizing: border-box;
  height: 2rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-weight: 600;
  font-family: 'Roboto Slab', sans-serif;
  font-size: .8rem;
}
.gift-clicked > input::placeholder {
  color: rgba(177, 115, 53, .5);
  font-style: italic;
  font-weight: 400;
}
.gift-clicked > input:focus{
  color: #06f;
}
.gift-receive, .gift-reject {
  width: 100%;
  box-sizing: border-box;
  color: white;
  height: 2rem;
  margin-top: .5rem;
  font-size: .8rem;
  font-weight: 500;
  font-family: 'Roboto Mono', sans-serif;
  border-radius: 1rem;
  outline: none;
  border: none;
}
.gift-receive {
  background-color: #fb5607;
}
.gift-receive:hover {
  background-color: #ff7f44;
}
.gift-reject {
  background-color: #415a77;
  margin-bottom: .5rem;
}
.gift-reject:hover {
  background-color: #5f7a99;
}

/* sub-header đã được chuyển sang main */
.sub-header {
  box-sizing: border-box;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.sub-header-nav {
  box-sizing: border-box;
  width: 100%;
  padding: .3rem .5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #ECEB98;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}
.sub-header-item {
  text-decoration: none;
  font-size: .7rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-right: 1rem;
  padding: 5px;
  border-bottom: 2px solid #ECEB98;
}
.sub-header-item:hover {
  color: #f04;

  border-bottom: 2px solid #06f;
  background-color: #f3ede8;
}
/* kết thúc phần header */

/* bắt đầu phần footer */
.footer {
  height: auto;
  box-sizing: border-box;
  border: none;
  color: white;
  background-color: #361055;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-footer {
  height: 9rem;
  width: 100%;
  border-bottom: 1px solid rgba(187,187,187,.5);
  flex: .8 1.2 auto;
  box-sizing: border-box;
}
.link-column {
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items:stretch;
  align-content:space-evenly;
}
.link-column li {
  text-align: left;
  padding: 8px;
}
.link-column a {
  text-align: left;
  color: #ddd;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'IBM Plex Sans', sans-serif;
}
.link-column a:hover {
  color: white;
  text-decoration:underline;
}
.post-footer {
  box-sizing: border-box;
  height: 3.5rem;
  width: 100%;
  padding: .8rem 2rem;
  flex: 1.2 .8 auto;
  color: #eee;
  background-color: #2b0f42;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.links {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.links a {
  margin-right: .8rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  transition: all .3s ease-in-out;
}
.links a:nth-of-type(1):hover {
  color: #0066ff;
}
.links a:nth-of-type(2):hover {
  color: #ff327d;
}
.links a:nth-of-type(3):hover {
  color: #90e0ef;
}
.copyright {
  font-size: .8rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
/* kết thúc phần footer */


/* MEDIA QUERIES */

@media  screen and (max-width: 1024px) {
  .normal-box {
    width: 65%;
  }
  .search-header {
    display: none;
  }
  .navigation {
    transform: scale(1.35);
    margin: 0 .35rem
  }
  .sub-header {
    display: none;
  }
  .details {
    aspect-ratio: 1.75 / 1;
  }
  .close-btn {
    padding: 0 7px;
    font-size: .65rem;
    border-radius: .5rem;
  }
  .details-big-text {
    margin: 0 .5rem .5rem;
    font-size: 1.05rem;
    font-weight: 700;
  }
  .details-normal-text {
    font-size: .95rem;
    font-weight: 500;
    margin: .2rem .5rem;
  }
  
  .best-seller {
    width: 80%;
  }
  .title {
    font-size: 1.5rem;
  }

  .product {
    width: 31%;
    height: 26rem;
    padding: 1rem .5rem;
    margin: .5rem calc(7%/6);

  }
  .book-title {
    margin: 8px;
    font-size: .85rem;
  }
  .well-known {
    width: 80%;
  }
  .link-column a {
    font-size: .76rem;
  }
  .links a {
    font-size: 1.3rem;
  }
  .copyright {
    font-size: .75rem;
  }
  
}
@media  screen and (max-width: 768px) {
  /* Signin section */
  .signin-header h1 {
    font-size: 1.15rem;
  }
  .signin-close-button {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1.8rem;
  }
  .signin-column-one > label {
    font-size: .85rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    height: 2rem;
    line-height: 2;
  }
  .signin-column-two > input {
    height: 1.95rem;
    box-sizing: border-box;
    margin: .2rem 0 .2rem auto;
    font-size: .8rem;
  }
  .signin-footer > button {
    height: 2rem;
    font-size: .975rem;
  }
  .signin-footer > p {
    font-size: .85rem;
  }
  /* Signin section */

  .normal-box {
    width: 80%;
  }
  .pre-header {
    font-size: .85rem;
  }
  .main-header {
    padding: 0 2rem;
  }
  .navigation {
    transform: scale(1.2);
    margin: 0 .2rem
  }
  .sub-header {
    display: none;
  }

  .details {
    aspect-ratio: 1.55 / 1;
  }
  .close-btn {
    padding: 0 6px;
    font-size: .6rem;
    border-radius: .5rem;
  }
  .details-big-text {
    margin: 0 .5rem .5rem;
    font-size: .95rem;
    font-weight: 700;
  }
  .details-normal-text {
    font-size: .85rem;
    font-weight: 500;
    margin: .2rem .5rem;
  }
  .best-seller {
    width: 90%;
  }
  .title {
    font-size: 1.1rem;
  }

  .product {
    width: 45%;
    height: 24rem;
    padding: 1rem .5rem;
    margin: .5rem calc(10%/4);
  }

  .book-title {
    margin: 8px;
    font-size: .825rem;
  }
  .well-known {
    width: 90%;
  }
  .pagination {
    height: 1.5rem;
  }
  .paginating-link {
    font-size: .75rem;
    line-height: 1.9;
  }
  .link-column a {
    font-size: .72rem;
  }
  .links a {
    font-size: 1.2rem;
  }
  .copyright {
    font-size: .725rem;
  }  
  
}
@media  screen and (max-width: 480px) {
  /* Signin section */
  .signin-header h1 {
    font-size: 1.1rem;
  }
  .signin-close-button {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1.8rem;
  }
  .signin-column-one > label {
    font-size: .725rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    height: 2rem;
    line-height: 2;
  }
  .signin-column-two > input {
    height: 1.95rem;
    box-sizing: border-box;
    margin: .2rem 0 .2rem auto;
    font-size: .7rem;
  }
  .signin-footer > button {
    height: 1.8rem;
    font-size: .9rem;
  }
  .signin-footer > p {
    font-size: .7rem;
  }
  /* Signin section */

  .normal-box {
    width: 100%;
  }
  .pre-header {
    font-size: .7rem;
  }
  .main-header {
    padding: 0 1rem;
  }
  .slogan {
    display: none;
  }


  .navigation {
    transform: scale(1.1);
    margin: 0 .1rem
  }
  .details {
    aspect-ratio: 1.4/1;
  }
  .close-btn {
    padding: 0 7px;
    font-size: .55rem;
    border-radius: .5rem;
  }
  .details-big-text {
    margin: 0 .5rem .5rem;
    font-size: .9rem;
    font-weight: 700;
  }
  .details-normal-text {
    font-size: .8rem;
    font-weight: 500;
    margin: .2rem .5rem;
  }
  .best-seller {
    width: 90%;
  }
  .title {
    font-size: 1rem;
  }

  .product {
    width: 95%;
    height: 22rem;
    padding: 1rem .5rem;
    margin: .5rem calc(5%/2);
  }
  .book-title {
    margin: 8px;
    font-size: .8rem;
  }
  .well-known {
    width: 90%;
  }
  .link-column a {
    font-size: .68rem;
  }
  .links a {
    font-size: 1.1rem;
  }
  .copyright {
    font-size: .7rem;
  }
  
}